@import "tailwindcss";
@plugin "daisyui";

.grad {
  background: #632ee3;
  background: linear-gradient(
    90deg,
    rgba(99, 46, 227, 1) 0%,
    rgba(159, 98, 242, 1) 100%
  );
}
.hero-text {
  background: linear-gradient(90deg, #632ee3 0%, #9f62f2 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
